.editor :global(.mdxeditor-root-contenteditable) {
    min-width: 400px;
    min-height: 150px;
    max-height: 30vh;
    overflow-y: scroll;
}

.prose ul {
    list-style-type: disc;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;
}

.prose ol {
    list-style-type: decimal;
    margin-top: 1.25em;
    margin-bottom: 1.25em;
    padding-left: 1.625em;    
}